
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>buy-a-brick</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="buy a brick namibia, buy, brick, standard, bank, donate, build, house">
    <meta name="description" content="buy a brick">
    <meta name="author" content="Code Masters">
    
    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    
    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
  
    
    
    <!-- =======================================================
      Theme Name: Bell
      Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>
  
  <body>
    <!-- Page Content
    ================================================== -->
    <!-- Hero -->
     <header id="header">
        <div class="container">
        
          <div id="logo" class="pull-left">
            <a href="index.html"><img src="images/logo.png" alt="" title="" /></img></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Bell</a></h1>-->
          </div>
            
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="#">Home</a></li>
              <li><a href="#/Donation">Donate Online</a></li>
              <li><a href="#donationDrum">Donation drums</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li class="menu-has-children"><a href="">More</a>
                <ul>                  
                  <li><a href="#aim">Aim</a></li>
                  <li><a href="#donor">Donors</a></li>
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="game.html">Home Builder</a></li>
                  <li><a href="#gallery">Gallery</a></li>
                  <li><a href="#subscribe">Subscibe</a></li>
                </ul>
              </li>
              <li><a href="#/login">Sign In</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->
          
          <nav class="nav social-nav pull-right hidden-sm-down">
            <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#contact"><i class="fa fa-envelope"></i></a>
          </nav>
        </div>
      </header><!-- #header -->
      <div style="margin-top: 60px">
  <div class="containter">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
      <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-heart"></i> Donations</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-heart"></i>Donations</li>                          
                    </ol>
                </div>
            </div>
        <div class="row well">

          <p align="center" style="margin-left: 30%">

            <a href="#/HADonation"> <button type="button" class="btn btn-warning">Housing Allowance</button></a>
            <a href="#/CompDonation"><button type="button" class="btn btn-warning">Company Donations</button></a> 
            <a href=""><button type="button" class="btn btn-info">Individual</button></a> 
          </p>
        </div>
        <div class="panel-body">
                              <form class="form-horizontal well" method="get">

                                  <div class="alert alert-info" role="alert"><p>
                                    <h5>Donate to buy a brick initiative as an inidividual to help the homeless!</h5>
                                  </p></div>

                                  <div class="form-group">
                                      
                                      <div class="col-md-6">
                                          <label class="control-label">First Name</label><br>
                                          <input type="text" class="form-control" ng-model="donation.firstName">
                                      </div>

                                      <div class="col-md-6">
                                          <label class="control-label">Last Name</label><br>
                                          <input type="text" class="form-control" ng-model="donation.lastName">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      
                                      <div class="col-md-6">
                                          <label class="control-label">Cellphone</label><br>
                                          <input type="text" class="form-control" ng-model="donation.cellphone">
                                      </div>

                                      <div class="col-md-6">
                                          <label class="control-label">Email</label><br>
                                          <input type="email" class="form-control" ng-model="donation.email">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      
                                      
                              
                                <div class="col-md-6">
                                <label class="control-label">Home Town</label>
                                  <input type="text" class="form-control" ng-model="donation.homeTown">
                                </div>
                     

                                      <div class="col-md-6">
                                          <label class="control-label"><small></small>Do you you want to collect an eraser at a near by standard bank</small></label><br>
                                          Yes <input type="radio" class="" name="eraser" ng-model="donation.buyEraser" value="no">
                                          No <input type="radio" class="" name="eraser" ng-model="donation.buyEraser" value="yes">
                                      </div>
                                  </div>
                                  <hr>
                                  <h3 align="center">Payments</h3>
                                   <div class="form-group">
                                      
                                      <div class="col-md-6">
                                          <label class="control-label">Amount</label><br>
                                          <input type="currency" class="form-control" ng-model="donation.amount">
                                      </div>

                                      
                                      <div class="col-md-6">
                                          <label class="control-label">Accepted Cards</label><br>
                                            <span> <img src="img/creditcards.png" class="responsive" width="150"></span>
                                              
                                              <input type="radio" class="" name="pay" value="PayPal" ng-model="donation.paymentOption">

                                            <span><img src="img/paypal.png" class="responsive" width="60"></span>
                                              <input type="radio" class="" name="pay" ng-model="donation.paymentOption">

                                      </div>
                                  </div>
                                  <div class="form-group">
                                      
                                      <div class="col-md-6">
                                          <label class="control-label">Bank Name</label><br>
                                          <input type="text" class="form-control" ng-model="donation.Bank">
                                      </div>

                                      <div class="col-md-6">
                                          <label class="control-label">Number of Erasers</label><br>
                                          <input type="text" class="form-control" ng-model="donation.eraserNumber">
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      
                                      <div class="col-md-4">
                                          <label class="control-label">Card Number</label><br>
                                          <input type="text" class="form-control" ng-model="donation.cardNumber">
                                      </div>

                                      <div class="col-md-4">
                                          <label class="control-label">Expiration Date</label><br>
                                          <input type="date" class="form-control" placeholder="MM/YYYY" ng-model="donation.ExpirationDate">
                                      </div>
                                      <div class="col-md-4">
                                          <label class="control-label">Security code</label><br>
                                          <input type="text" class="form-control" placeholder="XXX" ng-model="donation.SecurtyCode">
                                      </div>
                                  </div>
                                  <hr>
                                  <p align="center"><button class="btn btn-primary btn-lg" ng-click="donate()">Donate</button></p>
                                  
                                  
                              </form>
                          </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
    

    <footer class="site-footer">
      <div class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xs-12 col-lg-offset-5">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <img src="images/Standard 1.png">
                </li>

                <li class="list-inline-item">
                  <img src="images/shackdwellers.png">
                </li>

                <li class="list-inline-item">
                  <img src="">
                </li>
              </ul>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-6 col-xs-12 text-lg-left text-center">
              <p class="copyright-text">
                © Buy A Brick
              </p>
              <div class="credits">
                  <!-- 
                  
                -->
                <a href="#">Buy A Brick</a> by Code Masters
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a> 


    
  </body>
</html>